/* место для вашего кода */

header {
    display: flex;
    flex-direction: row;
    height: 293px;
    font-family: Raleway;
    font-weight: normal;
    font-size: 18px;
}

h1 {
    width: 1000px;
    height: 385px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 100px;
    letter-spacing: 30%;
    margin: 165px 50px auto 50px;
    display: flex;
    justify-content: space-evenly;
}

.nav_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 391.48px;
    height: 22px;
    text-underline-offset: 4px;
    margin: 133px auto auto 50px;
    line-height: 100%;
}

.logo_black {
    width: 148px;
    height: 105px;
    margin: 92px auto auto 38px;
}

.contacts_top {
    width: 240px;
    height: 98px;
    margin: 95px 50px auto auto;
    line-height: 24.3px;
    font-style: normal;
}

.cover {
    display: flex;
    flex-direction: column;
    height: 757px;
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}


.title_to_you {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_need {
    display: flex;
    align-items: end;
}

.description {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 51px;
    font-family: Raleway;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
}

.active {
    list-style: none;
}

.non_active{
    list-style: circle;
    text-decoration: underline;
}


.text_underline {
    text-decoration: underline;
    border-bottom: 1px;
    text-underline-offset: 4px;
}